---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";

const examples = navMenuConfig.examplesNav[0].items;
const pages = navMenuConfig.pagesNav[0].items;
---

<MainLayout title="">
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Simplifying Usage-Based Pricing for AI companies"
        text="Helping AI founders and their teams refine their usage based prcing models and scale faster through the most actionable monetization strategies."
      />
      <ExampleGrid title="What new on usagepricing" items={examples} />
      <ExampleGrid title="Guides" items={pages} />
    </section>
  </div>
</MainLayout>
