---
import { cn } from "@/lib/utils";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  heading: string;
  text?: string;
  className?: string;
  pubDate?: Date;
}
const { heading, text, className, pubDate, ...attrs } = Astro.props;
import { formatDate } from "@/lib/utils";
---

<div class={cn("space-y-4", className)} {...attrs}>
  <h1 class="inline-block font-heading text-4xl">
    {heading}
  </h1>
  {
    pubDate && (
      <div class="text-sm text-muted-foreground">
        <time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time>
      </div>
    )
  }
  {text && <p class="text-muted-foreground">{text}</p>}
</div>
<hr class="my-4" />
